<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cotação</ion-title>
    <ion-buttons slot="end" *ngIf="appService.showProgress">
      <ion-spinner></ion-spinner>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            Informe a data da cotação desejada : <br /><br />
            <ion-datetime #datetime min="2000-01-01" locale="pt-BR" presentation="date"
              (ionChange)="pesquisarCotacao(datetime.value)">
            </ion-datetime>
          </div>
        </ion-col>
        <ion-col>

          <div *ngIf="resultado && resultado.id">
            <span style="font-size: 20px;">Cotação USD {{datetime.value | date: 'dd/MM/yyyy' }}</span>
            <br><br>
            Compra : {{resultado.cotacaoCompra | currency : 'BRL'}}<br>
            Venda : {{resultado.cotacaoVenda | currency : 'BRL'}}<br>
            Data/Hora : {{resultado.dataHoraCotacao | slice : 0:19| date: 'dd/MM/yyyy HH:mm:ss' }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>